body {
    background-color: #121111;
    color: white;
    font-family: Consolas, monaco, monospace;
    align-content: center;
}

.main-content {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 800px) {
    .main-content {
        width: 800px;
        margin: 0 auto;
    }
}

a:link {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: grey;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project.pic {
    width: 50%;
}

.project.text {
    padding: 100px 5%;
    width: 40%;
}
