body {
    background-color: #F8F0E3;
    align-items: center;
    font-family: Consolas, monaco, monospace;
}


.InnerPage {
    text-align: left;
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .InnerPage {
        text-align: left;
        width: 700px;
        margin: auto;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
}

.navbar>* {
    text-align: center;
    flex: 1;
    padding: 0 20px 0 20px;
}

.ProjectCard {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .ProjectCard {
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
}

.ProjectCard>img {
    width: 100%
}

.ProjectCard>.ProjectText {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .ProjectCard>img {
        width: 50%
    }

    .ProjectCard>.ProjectText {
        width: 50%;
        text-align: center;
    }
}