body {
    background-color: #F8F0E3;
    align-items: center;
    font-family: Consolas;
}


.InnerPage {
    text-align: left;
    width: 700px;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
}

.navbar > a {
    text-align: center;
    flex: 1;
    padding: 0 20px 0 20px;
}
